body{
    background-color:aliceblue;
}

h1{
    font-size: 3rem;
    display: flex;
    justify-content: center;
}
h2{
    margin: 10px;
}

.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns-div{
    width: 50%;
    display: flex;
    justify-content: center;
}

#btn{
    background-color: rgb(71, 213, 218);
    border: #393E46;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 3px 3px rgb(45, 109, 111);
    cursor: pointer;
    margin: 10px;
}

#btn:hover{
    background-color: rgb(47, 149, 152);
}

#btn:active{
    background-color: rgb(45, 109, 111);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(10, 5%);
    justify-content: center;
}